.forbidden-access-container {
    text-align: center;
    height: 100vh;
}

.error-msg {
    position: relative;
    top: 45%;
}

.forbidden-heading {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

.forbidden-tag {
    font-family: 'Hind Madurai', sans-serif;
}

.code {
    background-color: #0067B8;
color: #ffffff;
}