@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
.navbar-container {
    background-color: #265D9D;
}
.view-product-button-container:hover {
    background-color: #efefef;
}
.product-description {

    font-weight: 600;
}


.view-product-button-container button{
    background-color: #265D9D;
  color: #fff;
  padding: 10px 15px;
}
.view-product-button-container2 {
  /* letter-spacing: 2px; */
  text-decoration: none;
  text-transform: uppercase;
  color: ;
  cursor: pointer;
  border: 3px solid #265D9D;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
         }

.view-product-button-container2:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

 @media (min-width: 768px) {
  .view-product-button-container2 {
    padding: 0.25em 0.75em;
  }
   }
