.navbar-container {
    background-color: #333;
}
.view-product-button-container:hover {
    --tw-bg-opacity: 1;
    background-color: rgb(96 165 250 / var(--tw-bg-opacity));
    border-radius: 4px;
}